# Project Context

You are to follow any and all rules outlined in .cursor/rules/

Do not ignore the rules in .cursor/rules/

For all file actions (creation, editing, deletion) follow the git rules outlined in .cursor/rules/git
